<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BSE - Gallery</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>BSE.<br><span>Engineering Services</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/gallery" class="active">Gallery</a></li>
          <li><a href="/branch">Branch</a></li>
          <li><a href="/treading">Trading</a></li>
          <li><a href="/contact">Contact</a></li>
          
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('photo/switchyard4.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Gallery</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Gallery</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

      
    <!-- Start Gallery -->
 
    <section class="sample-page">
      <div class="container">

      
	<div class="gallery-box">
		<div class="container-fluid">
			
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" >
							<img class="img-fluid" src="img/gallary/Tata-steel2.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" >
							<img class="img-fluid" src="photo/switchyard1.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" >
							<img class="img-fluid" src="img/gallary/Tata-steel.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" >
							<img class="img-fluid" src="img/gallary/switchyard6.jpg" alt="Gallery Images">
						</a>
					</div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (5).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (6).jpeg" alt="Gallery Images">
            </a>
          </div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" >
							<img class="img-fluid" src="photo/cap-bank1.jpg" alt="Gallery Images">
						</a>
					</div> 
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" >
							<img class="img-fluid" src="photo/switchyard4.jpg" alt="Gallery Images">
						</a>
					</div>
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/volswagon-site1.jpg" alt="Gallery Images">
            </a>
          </div>
         
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/volswagon-site3.jpg" alt="Gallery Images">
            </a>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/cap-bank2.jpg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/mtamc.jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/material-trans.jpg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/material-trans1 .jpg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/material-trans2.jpg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/volswagon-site2.jpg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (1).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (4).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (2).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (3).jpeg" alt="Gallery Images">
            </a>
          </div>
          
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/Gallery (7).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (1).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (2).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (3).jpeg" alt="Gallery Images">
            </a>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (5).jpeg" alt="Gallery Images">
            </a>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (7).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (8).jpeg" alt="Gallery Images">
            </a>
          </div>
         
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (4).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/img1 (1).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/img1 (2).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/img1 (3).jpeg" alt="Gallery Images">
            </a>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/img1 (6).jpeg" alt="Gallery Images">
            </a>
          </div>
         
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/img1 (4).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/gal (6).jpeg" alt="Gallery Images">
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <a class="lightbox">
              <img class="img-fluid" src="img/gallary/img1 (5).jpeg" alt="Gallery Images">
            </a>
          </div>
          
          
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
      </div>
    </section>

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>BSE</h3>
              <p>
                Nea Appartment,F601 Behind TUV Nord Company<br />
                  , Baner-411045,Pune Maharashtra, India.<br><br>
                   
                <strong>Phone:</strong><br>
                   +91 8369700470 <br>
                   +91 74984 24264<br>
                   
                   <br>
                   <strong>Email:</strong> <br>
                   info@substationbse.com <br>
                   boostsubserve@gmail.com<br>
              </p>
              
            </div>
          </div><!-- End footer info column-->
  
          <div class="col-lg-3 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <!-- End footer links column-->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="/services">Maintaintance</a></li>
              <li><a href="/services">Testing</a></li>
              <li><a href="/services">Networking</a></li>
              <li><a href="/services">Other Services</a></li>
            </ul>
          </div>
          <!-- End footer links column-->
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Social Links</h4>
            <div class="social-links d-flex mt-3">
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/people/Boost-Subserve-Engineering-Pvt-Ltd/100093214756090/?mibextid=LQQJ4d" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/boostsubserveengineering?igsh=MWF0N2h2eXJvYnJvcA%3D%3D&utm_source=qr" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/boost-subserve-engineering-0100352b3/" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div><!-- End footer links column-->
  
        </div>
      </div>
    </div>
  
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span></span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="">Brand Liberty</a>
        </div>
      </div>
    </div>
  
  </footer>
  <!-- End Footer -->

 <!-- <h1>Click the button to start a WhatsApp chat</h1> -->
 <a href="https://wa.me/918369700470?text=Hello%20there!" class="anchor-tag wtsp-btn wp-hover-effect">
  <i class="fa-brands fa-whatsapp fa-2xl  wp-hover-effect"></i>
</a>

<!-- <h1>Click the button to make a call</h1> -->
<a href="tel:918369700470" class="anchor-tag call-btn call-hover-effect">
  <i class="fa-solid fa-phone-volume  fa-2xl fa-shake  call-hover-effect"></i>
</a>

  

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>