<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BSE - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="https://kit.fontawesome.com/e784f7575e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/integration.css">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/main.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>BSE<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/branch">Branch</a></li>
          <li><a href="/treading">Treading</a></li>
          <li><a href="/contact">Contact</a></li>
          
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">BOOST
              SUBSERVE
              ENGINEERING PVT.LTD

             </h2>
            <p data-aos="fade-up">WE ARE EXPERTS IN ELECTRICAL TRANSMISSION, DISTRIBUTION WORKS.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#main" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">

      <div class="carousel-item active" style="background-image: url(photo/power-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(photo/solar-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(photo/wind-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(photo/switchyard1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(photo/factory-3.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">
     <br><br>

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services" id="#main">
          <div class="container">
    
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-laptop"></i></div>
                  <h4 class="title"><a href="">Mission</a></h4>
                  <p class="description">Through our comprehensive
                    substation services, we aim to
                    empower communities and industry
                    with dependable, economical, and
                    sustainable electrical solutions,
                    ensuring efficient power distribution
                    and enhancing everyone's standard of
                    life.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-card-checklist"></i></div>
                  <h4 class="title"><a href="">Vission</a></h4>
                  <p class="description">Oue vission is to lead the global substation
                    services sector by advancing technology,
                    building resilience, and promoting energy
                    accessibility. In order to leave a legacy of
                    sustainable development for future generations,
                    we are interested in creating a future in which
                    electricity acts as a catalyst for prosperity and
                    growth by establishing long-lasting
                    collaborations and leading the way in innovative
                    solutions.
                    </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                  <h4 class="title"><a href="">Values</a></h4>
                  <p class="description">Our values revolve around reliability, technology advancement, and sustainability.
                     We aim to empower communities and industries with dependable, economical, and sustainable electrical 
                     solutions while advocating for energy accessibility worldwide. Through collaboration and innovation,
                     we strive to lead the global substation services sector and leave a legacy of sustainable development 
                     for future generations.</p>
                </div>
              </div>
            </div>
    
          </div>
        </section><!-- End Featured Services Section -->
 

    <!-- ======= Why us Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why Choose Us</h2>
          <p>At Boost Subserve Engineering Pvt.Ltd, we stand out in the Electrical industry for several compelling reasons</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(img/constructions-1.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Experties & Experience.</h4>
                    <p>With years of experiance and a team of seasoned
                      professionals, we bring unparalleled experties to every
                      project. Our Track records of sucessful work.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(img/constructions-2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Integrity</h4>
                    <p>We conduct ourselves with honesty, transparency, and
                      integrity in all our interactions. We honor our
                      commitments and uphold the highest ethical standards
                      in every aspect of our business.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(photo/electric-2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Comprehensive Services</h4>
                    <p>We offer wide renge of services under one roof, streamline
                      your project need.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(photo/mtamc.jpeg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Safety First</h4>
                    <p>Safety is at the core of everything we do. We prioritize
                      the well being of our team, clients and the comunity,
                      implementing rigorous safety measures on sit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(photo/qality-assurance.jpeg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Quality Assurance</h4>
                    <p>Quality is our top priority. We adhere to stringent quality
                      standards, ensuring that each project is executed with
                      precision and excellence, resulting in safe work.
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(photo/solar-2.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Client-Centric Approch</h4>
                    <p>Your Satisfication is our ultimate goal . We maintain open
                      communication, listen to your needs, and tailor our
                      services to meet your specific requirnments.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="700">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(img/alt-services.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Sustainability</h4>
                    <p>We are dedicated to sustainability, integrating eco friendly practices and technologies into our solutions
                      to minimize environmental impact and promote a
                      greener future</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="800">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(photo/power-3.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Competitive Pricing</h4>
                    <p>We offer competitive pricing without compramising on
                      quality, ensuring that you receive value for your
                      investment.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Why us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Services</h2>
          <p>With our team of experts, you can count on us to handle all sorts of Electrical projects, Electrical retrofitting quickly, efficiently, and safely.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
             <div class="col-lg-12 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="img/projects_1/switchyard2.jpg" alt="" class="img-fluid">
              </div>
              <h3> MAINTENANCE</h3><br>
              <!-- <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p> -->
              <a href="services.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Testing</h3><br>
              <!-- <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p> -->
              <a href="services.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Networking</h3><br>
              <!-- <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p> -->
              <a href="services.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->
         
          
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Switchyard</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Capacitor Bank</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>xyz</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>xyz</h4>
            </a>
          </li><!-- End tab nav item -->

          

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Switchyard</h3>
                <p class="fst-italic">
                  The switchyard comprises transformers plus a series of large switches, breakers, and other protective devices that can usually be manually or
                   remotely opened and controlled to energize or de-energize specific transmission circuits leaving the plant.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Switchyards enable operators to manage the transmission and distribution of electricity effectively.</li>
                  <li><i class="bi bi-check2-all"></i> Safety is a critical concern in switchyards due to the high voltages involved. </li>
                  <li><i class="bi bi-check2-all"></i> Switchyards are designed to handle high voltages, often ranging from tens of kilovolts to several hundred kilovolts, depending on the specific application and the scale of the power system.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="img/projects_1/switchyard2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Capacitor Bank</h3>
                <p class="fst-italic">
                  Capacitor banks work by storing electrical energy in their components and using it when needed to correct power factor lags or phase shifts in an AC (alternative current) power supply. This helps maintain optimum
                   efficiency and prevents undesirable dips or surges in voltage which can damage electrical equipment.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> primary purposes of capacitor banks is to improve the power factor of electrical systems.</li>
                  <li><i class="bi bi-check2-all"></i> Power factor is a measure of how effectively electrical power is being used in a system.</li>
                  <li><i class="bi bi-check2-all"></i> Capacitor banks provide reactive power support by supplying capacitive reactive power to the system. </li>
                  <li><i class="bi bi-check2-all"></i> Many modern capacitor banks are equipped with automatic control systems that monitor power factor, voltage levels, and other parameters in real-time. </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="img/projects_1/cap-bank2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Voluptatibus commodi accusamu</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                </ul>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="photo/electric-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Omnis fugiat ea explicabo sunt</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="photo/solar-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">
 
        <div class="section-header">
          <h2>Our Projects</h2>
          <p>Project Closure and Handover</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <!-- <li data-filter=".filter-remodeling">xyz</li>
            <li data-filter=".filter-construction">xyz</li>
            <li data-filter=".filter-repairs">xyz</li>
            <li data-filter=".filter-design">xyz</li> -->
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/cap-bank1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>11 KV Capacitor Bank Installition & Comossiong Done at ownes Corning India limited at Taloja</p>
                  <a href="img/projects_1/cap-bank1.jpg" title="Remodeling 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/volswagon-site1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>220 KV switchyard Maintaintance & Isolter Allignment work done on Volkawagon Site</p>
                  <a href="img/projects_1/volswagon-site1.jpg" title="Construction 1" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/Tata-steel2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>100 KV switchyard maintaince work done on TATA Steel Site</p>
                  <a href="img/projects_1/Tata-steel2.jpg" title="Repairs 1" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/RTU1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>RTU Scada work done on Pune sites</p>
                  <a href="img/projects_1/RTU1.jpg" title="Repairs 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>TATA GROUP
                    110KV SWITCHYARD COMPLETE DISMANTLING YARD EQUIPMENT </p>
                  <a href="img/projects_1/switchyard5.jpg" title="switchyard" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/tata-100kv.jfif" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>AT TATA POWER DHARAVI .2023
                    100 KV SWITCHYARD MAINTENANCE & ISOLATOR ALIGNMENT WORK, TESTING WORK  DONE AT TATA STEEL KHOPOLI SITE. SICE 2017 TO 2024
                    </p>
                  <a href="img/projects_1/tata-100kv.jfif" title="switchyard" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/volswagon-site2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p> VOLKSWAGEN
                    220KV SWITCHYARD MAINTAINCE & SUBSTATION WASHING WORK DONE AT CHAKAN PUNE SITE. SINCE 2016-2024.</p>
                  <a href="img/projects_1/volswagon-site2.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>AMNS INDIA  
                    110 KV SWITCHYARD MAINTENANCE WORK DONE, ISOLATOR ALIGNMENT, GOD BOX RETROFITTING, 22KV BREAKER TESTING & MAINTAINCE DONE AT 2023.</p>
                  <a href="img/projects_1/switchyard5.jpg" title="Repairs 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>JSW GROUP
                    220KV COMPLETE SWITCHYARD MAINTAINCE & TRANSFORMER OIL FILTRATION, TESTING WORK DONE AT 2023.</p>
                  <a href="img/projects_1/switchyard7.jpg" title="Remodeling 3" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/PG-isolator.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>MSETCL 
                    400KV PG ISOLETOR INSTALLETION & SERVICING DONE AT LONIKAND SITE.
                    220 KV ISOLETEOR ALIGNMENT WORK DONE AT PANVEL & CHANDRAPUR SITES.</p>
                  <a href="img/projects_1/PG-isolator.jpg" title="Construction 3" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/RTU.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>xyz</h4>
                  <p>MTAMC PROJECT 2019-2023
                    RELAY RETROFITTING, RTU SCADA WIRING, PANEL INSTALLATION & COMMOUSSING AT 400KV SITES
                     ( PUNE, AURANGABAD, CHANDRAPUR, NAGPUR, BHUSAWAL, DHULE SITE )</p>
                  <a href="img/projects_1/RTU.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>It showes the dedication of our work</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Rutvik Chavan</h3>
                  <h4></h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sujata Patil</h3>
                  <h4></h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jyoti Gaikwad</h3>
                  <h4></h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Mahesh Bhosale</h3>
                  <h4></h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Jay Sharma</h3>
                  <h4></h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>BSE</h3>
              <p>
                A/604, Trade Square BLDG.Mehera ind,<br>
                AK Road Mumbai-400072, Maharashtra, India.  <br><br>
                <strong>Phone:</strong><br>
                   +91 8369700470 <br>
                   +91 74984 24264<br>
                   <br>
                <strong>Email:</strong> <br>
                boostsubserve@gmail.com<br>
              </p>
              
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-3 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="services.html">Maintaintance</a></li>
              <li><a href="services.html">Testing</a></li>
              <li><a href="services.html">Networking</a></li>
              <li><a href="services.html">Other Services</a></li>
              </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Social Links</h4>
            <div class="social-links d-flex mt-3">
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/boost-subserve-engineering-0100352b3/" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span></span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="">Brand Liberty</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <!-- <h1>Click the button to start a WhatsApp chat</h1> -->
  <a href="https://wa.me/1234567890?text=Hello%20there!" class="anchor-tag wtsp-btn wp-hover-effect">
    <i class="fa-brands fa-whatsapp fa-2xl  wp-hover-effect"></i>
  </a>

  <!-- <h1>Click the button to make a call</h1> -->
  <a href="tel:1234567890" class="anchor-tag call-btn call-hover-effect">
    <i class="fa-solid fa-phone-volume  fa-2xl fa-shake  call-hover-effect"></i>
  </a>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>