<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BSE - Projects</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/main.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>BSE.<br><span>Engineering Services</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects"  class="active">Projects</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/branch">Branch</a></li>
          <li><a href="/treading">Trading</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('photo/cap-bank1.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Projects</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Projects</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <!-- <li data-filter=".filter-remodeling">xyz</li>
            <li data-filter=".filter-construction">xyz</li>
            <li data-filter=".filter-repairs">xyz</li>
            <li data-filter=".filter-design">xyz</li>
            <li data-filter=".filter-work">xyz</li> -->
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/cap-bank1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Taloja</h4>
                  <p>11 KV Capacitor Bank Installition & Comossiong Done at ownes Corning India limited at Taloja</p>
                  <!-- <a href="img/projects_1/cap-bank1.jpg" title="Remodeling 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/volswagon-site1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Volkawagon Site</h4>
                  <p>220 KV switchyard Maintaintance & Isolter Allignment work done on Volkawagon Site</p>
                  <!-- <a href="img/projects_1/volswagon-site1.jpg" title="Construction 1" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/Tata-steel2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>TATA Steel Site</h4>
                  <p>100 KV switchyard maintaince work done on TATA Steel Site</p>
                  <!-- <a href="img/projects_1/Tata-steel2.jpg" title="Repairs 1" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/RTU1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>RTU Pune sites</h4>
                  <p>RTU Scada work done on Pune sites</p>
                  <!-- <a href="img/projects_1/RTU1.jpg" title="Repairs 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>TATA GROUP</h4>
                  <p>TATA GROUP
                    110KV SWITCHYARD COMPLETE DISMANTLING YARD EQUIPMENT </p>
                  <!-- <a href="img/projects_1/switchyard5.jpg" title="switchyard" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/tata-100kv.jfif" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>TATA POWER DHARAVI</h4>
                  <p>AT TATA POWER DHARAVI .2023
                    100 KV SWITCHYARD MAINTENANCE & ISOLATOR ALIGNMENT WORK, TESTING WORK  DONE AT TATA STEEL KHOPOLI SITE. SICE 2017 TO 2024
                    </p>
                  <!-- <a href="img/projects_1/tata-100kv.jfif" title="switchyard" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/volswagon-site2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>VOLKSWAGEN CHAKAN PUNE SITE</h4>
                  <p> VOLKSWAGEN
                    220KV SWITCHYARD MAINTAINCE & SUBSTATION WASHING WORK DONE AT CHAKAN PUNE SITE. SINCE 2016-2024.</p>
                  <!-- <a href="img/projects_1/volswagon-site2.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>AMNS INDIA </h4>
                  <p>AMNS INDIA  
                    110 KV SWITCHYARD MAINTENANCE WORK DONE, ISOLATOR ALIGNMENT, GOD BOX RETROFITTING, 22KV BREAKER TESTING & MAINTAINCE DONE AT 2023.</p>
                  <!-- <a href="img/projects_1/switchyard5.jpg" title="Repairs 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard7.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>JSW GROUP</h4>
                  <p>JSW GROUP
                    220KV COMPLETE SWITCHYARD MAINTAINCE & TRANSFORMER OIL FILTRATION, TESTING WORK DONE AT 2023.</p>
                  <!-- <a href="img/projects_1/switchyard7.jpg" title="Remodeling 3" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/PG-isolator.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>MSETCL</h4>
                  <p>MSETCL 
                    400KV PG ISOLETOR INSTALLETION & SERVICING DONE AT LONIKAND SITE.
                    220 KV ISOLETEOR ALIGNMENT WORK DONE AT PANVEL & CHANDRAPUR SITES.</p>
                  <!-- <a href="img/projects_1/PG-isolator.jpg" title="Construction 3" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/mtamc.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>MTAMC PROJECT</h4>
                  <p>MTAMC PROJECT 2019-2023
                    RELAY RETROFITTING, RTU SCADA WIRING, PANEL INSTALLATION & COMMOUSSING AT 400KV SITES
                     ( PUNE, AURANGABAD, CHANDRAPUR, NAGPUR, BHUSAWAL, DHULE SITE )</p>
                  <!-- <a href="img/projects_1/RTU.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/volswagon-site3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>LLOYED METALS GHUGHUS SITE</h4>
                  <p>LLOYED METALS 
                    220 KV COMPLETE SWITCHYARD MAINTENANCE WORK DONE AT GHUGHUS SITE .2023</p>
                  <!-- <a href="img/projects_1/volswagon-site3.jpg" title="Repairs 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/RTU2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4> MSEDCL</h4>
                  <p> MSEDCL 
                    104 RTU INSTALLETION & COMMOUSSIONG PROJECT DONE AT PUNE, NASHIK, KOLHAPUR ZONE.
                    </p>
                  <!-- <a href="img/projects_1/RTU2.jpg" title="Repairs 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-work">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/cap-bank3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>ECIL WORK</h4>
                  <p>ECIL WORK.
                    VMS SYSTEM INSTALLATION & COMMOUSING WORK DONE AT MUMBAI AIRPORT SITE 2019</p>
                  <!-- <a href="img/projects_1/cap-bank3.jpg" title="Repairs 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/switchyard1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Station Maintannce</h4>
                  <p> 400 KV Sub Station Maintannce</p>
                  <!-- <a href="img/projects_1/switchyard1.jpg" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="img/projects_1/isolater.jfif" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>PG Isolater</h4>
                  <p> PG Isolater Allignment</p>
                  <!-- <a href="img/projects_1/isolater.jfif" title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a> -->
                  <!-- <a href="project-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a> -->
                </div>
              </div>
            </div><!-- End Projects Item -->

          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->
    
    <!-- client section -->
  <div class="cle">
    <section id="clients" class="clients">
      <div class="section-header">
        <h2>Our Clients</h2>
        <p>Partners</p>
      </div>
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="img/clients/AB_grp.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/amns.87c1c3eaad947ce19085.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/HNG_1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/JWS.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/LLOYD.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/MSETCL.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/siemens.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/sitra_info.gif" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/sanyo-steel.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/ceinsys.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/RYB.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/JSA.png" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section>
  </div>
    
  <!-- client section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>BSE</h3>
            <p>
              Nea Appartment,F601 Behind TUV Nord Company<br />
              , Baner-411045,Pune Maharashtra, India.<br><br>
                 
              <strong>Phone:</strong><br>
                 +91 8369700470 <br>
                 +91 74984 24264<br>
                 
                 <br>
                 <strong>Email:</strong> <br>
                 info@substationbse.com <br>
                 boostsubserve@gmail.com<br>
            </p>
            
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <!-- End footer links column-->

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="/services">Maintaintance</a></li>
            <li><a href="/services">Testing</a></li>
            <li><a href="/services">Networking</a></li>
            <li><a href="/services">Other Services</a></li>
          </ul>
        </div>
        <!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Social Links</h4>
          <div class="social-links d-flex mt-3">
            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/people/Boost-Subserve-Engineering-Pvt-Ltd/100093214756090/?mibextid=LQQJ4d" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/boostsubserveengineering?igsh=MWF0N2h2eXJvYnJvcA%3D%3D&utm_source=qr" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/boost-subserve-engineering-0100352b3/" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
          </div>
        </div><!-- End footer links column-->

      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="">Brand Liberty</a>
      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->

 <!-- <h1>Click the button to start a WhatsApp chat</h1> -->
 <a href="https://wa.me/8369700470?text=Hello%20there!" class="anchor-tag wtsp-btn wp-hover-effect">
  <i class="fa-brands fa-whatsapp fa-2xl  wp-hover-effect"></i>
</a>

<!-- <h1>Click the button to make a call</h1> -->
<a href="tel:8369700470" class="anchor-tag call-btn call-hover-effect">
  <i class="fa-solid fa-phone-volume  fa-2xl fa-shake  call-hover-effect"></i>
</a>



  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>