<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BSE  - Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/main.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>BSE.<br><span>Engineering Services</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services"  class="active">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/branch">Branch</a></li>
          <li><a href="/treading">Trading</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('photo/power-1.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Services</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="section-header" id="maintain">
            <h2>Installation</h2>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Substation all Equipment installation</h3>
              <!-- <p>MIP Piles specializes in comprehensive piling foundation solutions. Our services cover various piling techniques.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>New BAY Eraction</h3>
              <!-- <p>MIP Piles specializes in micro piling foundation services, offering versatile solutions for challenging construction scenarios.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
            
          <br>
          <div class="section-header" id="maintain">
            <h2>Maintaintance</h2>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>SWITCHYARD Maintenance Up To 400 KV </h3>
              <!-- <p>MIP Piles specializes in comprehensive piling foundation solutions. Our services cover various piling techniques.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Isolater Allignment & Servicing Up To 400 KV</h3>
              <!-- <p>MIP Piles specializes in micro piling foundation services, offering versatile solutions for challenging construction scenarios.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Isolater Gear Box Retrofitting</h3>
              <!-- <p>MIP Piles offers top-tier rainwater harvesting services, aimed at harnessing the power of nature to meet your water reeds sustainably.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Switchyard cold & Hot Line Washing</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>SF 6 Breker Maintenance</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>CP / RP Panel Maintenance</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Relay Retrofitting</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Switchyard AMC</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Transformer oil Leakage Arresting</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1000">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Pre-Monsoon Maintenance Activity's.</h3>
              <!-- <p>MIP Piles offers comprehensive soil investigation services, crucial for informed construction decisions.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <br>
          <div class="section-header">
            <h2>Testing</h2>
          </div>

      
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Relay Testing</h3>
              <!-- <p>We provide comprehensive Protection Relay Testing (Primary, Backup, Auxiliary) for unctional reliability test and confirmation of tripping on fault conditions with Advanced telay Testing Kit (Omicron CMC 356).</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Tan Delta Testing</h3>
              <!-- <p>We provide Capacitance Tan Delta Testing of Transformer, Transformer Bushing, CT, PT, CVT & Cable for detection of weakness / unhealthiness of the equipment under test herefore the maintenance could be planned before the failure with the help of advanced esting kit (Megger Delta 4110).  </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Skim Testing</h3>
              <!-- <p>MIPO Piles excels in borewell services, providing reliable drilling and well construction expertise. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Relay Coordination</h3>
              <!-- <p>MIP Piles offers comprehensive load testing services, ensuring the structural integrity and safety of your projects.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Earth Pitt Testing </h3>
              <!-- <p>We provide Earth-pit Contact Resistance Testing for the confirmation of healthiness earth contact of the earthing circuit of the electrical equipments with advanced testing kit (Megger DET4TC2).</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Illumination Testing</h3>
              <!-- <p>We provide insulation testing for finding the dielectric strength/weakness of the electrical equipments, Power cables, Control cables etc. with the advanced 10kV testing kit (Megger S1-1068). </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Energy Audit</h3>
              <!-- <p>MIP Piles specializes in comprehensive road development services, covering a wide range of road types. From highways and urban roads to rural and specialized routes.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Cable Testing</h3>
              <!-- <p>MIP Piles is your trusted partner for all types of bridge development projects. Our services encompass a wide spectrum, including the construction of pedestrian, vehicular, and specialty bridges. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Oil Testing</h3>
              <!-- <p>MIP Piles specializes in rotary pile installation using advanced hydraulic rigs. This method involves drilling cylindrical holes into the ground and filling them with concrete or grout, creating a robust foundation for structures.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1000">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>CT, PT & CVT Testing</h3>
              <!-- <p>We provide er, PT, CVT testing for the performance confirmation and finding out the
                degree of detoriation to decide the corrective action with advanced testing kit (Megger
                VlRCT D2C0N3IOM0L). </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Insulation Testing</h3>
              <!-- <p>We provide insulation testing for finding the dielectric strength / weakness of the electrical
                equipments, Power cables, Control cables etc. with the advanced lOkV testing kit (Megger
                51 - 1068). </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Circuit Breaker Time Interval Testing</h3>
              <p>
                <!-- We provide Operational Time Interval Measurement Testing for Curcuit Breaker to how the sluggishness of the Circuit Breaker Function with the
                 Addvanced testing kit
                (REST CTIMe SC 2000). </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Contact Resistance Circuit Breaker Testing</h3>
              <!-- <p>We provide Contact Resistance Measurement between the Circuit Breaker Contacts confirm the faithful functioning of the Circuit Breaker. It's a health-check measurement. with the advanced testing kit (CREST MVT 2008+).</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Thermal Imaging For Hotspot</h3>
              <p>
               <!-- We provide Thermal Imaging of Power Distribution Panels, Control Panels, Motor Control Cubicles, Cable Terminations, Conductor Jumpering to understand the Hotspot accordingly maintenance could be planned. The thermal imaging can be tried out with the advanced Thermal Imaging Camera (SONEL KT 560) and the Software. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Power Quality Testing And Analysis</h3>
              <!-- <p>We provide Power Quality Testing to understand the Total Harmonic Distortions in supply as well as we can measure the Harmonics Generated by the Equipments  in the system. Accordingly, the corrective action could be planned. The power quality analysis with the advanced testing kit and advanced analysis software (NIPOWER Unilyzer 900).</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Scheme & SCADA Testing of Switchyard up to 765kV AIS/GIS. </h3>
              <!-- <p>MIP Piles specializes in comprehensive soil anchoring solutions, offering versatile techniques for stabilizing soil and enhancing structural integrity. Our services include ground anchors, soil nails, and retaining wall systems, tailored to diverse project requirements.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1700">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Transformer Diff & REF Stability Test.</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="1800">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>EHV Bus Bar Stability Test.</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <br>
          <div class="section-header">
            <h2>Commissioning</h2>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>CT Core Confirmation through Primary Current Injection. </h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>PT Selection Scheme Check by 3 Phase Voltage Setup.</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Function Check of Transformer Auxiliary Protection.</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Circuit Breaker Commissioning for Siemens/GE/CGL/ABB as per Manufacturer Standards.</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Switchyard Schematic Drawing and Cable Schedule as build as per Standard.</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
         
        


         
          <br>
          <div class="section-header">
            <h2>Networking</h2>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>PLC </h3>
              <!-- <p>MIP Piles specializes in comprehensive soil anchoring solutions, offering versatile techniques for stabilizing soil and enhancing structural integrity. Our services include ground anchors, soil nails, and retaining wall systems, tailored to diverse project requirements.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>SCADA</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>FO Laying & Splising</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>VMS </h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>BMS</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods. </p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>TMS</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>AMC For Networking</h3>
              <!-- <p>MIP Piles specializes in soil stabilization testing and analysis, essential for engineering resilient foundations. We evaluate soil properties, assess compaction, and determine appropriate stabilization methods.</p> -->
              <!-- <a href="service-details.html" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>The Importance of Regular Maintenance: Ensuring Longevity and Efficiency</h3>
            <p>Maximizing Performance and Minimizing Costs Through Proactive Care.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Extended Lifespan</a></h4>
                <p> Regular maintenance significantly extends the lifespan of equipment and machinery. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Enhanced Safety</a></h4>
                <p>Maintenance practices prioritize safety by identifying and addressing potential hazards before they escalate into serious incidents.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Optimized Performance</a></h4>
                <p> Regular maintenance optimizes the performance of machinery and systems, ensuring consistent output and efficiency.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Cost Savings</a></h4>
                <p>Proactive maintenance translates into substantial cost savings over the long term. </p>
              </div>
            </div><!-- End Icon Box -->
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url(img/maintanance1.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(img/alt-s.jpeg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>The Significance of Testing in Electrical Systems: Ensuring Reliability and Safety</h3>
            <p>Proactive Measures for Sustainable Performance and Risk Mitigation</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Compliance Assurance</a></h4>
                <p>Testing serves as a cornerstone for compliance assurance with regulatory mandates and industry standards.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Reliability Assurance</a></h4>
                <p>Testing forms the cornerstone of reliability assurance in electrical systems. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Safety Validation</a></h4>
                <p>Testing plays a pivotal role in validating the safety of electrical installations and devices. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Performance Optimization</a></h4>
                <p>Testing enables the optimization of performance parameters across electrical systems and components.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>The Vital Role of Networking Maintenance: Sustaining Connectivity and Security</h3>
            <p>Proactive Strategies for Reliable Performance and Resilience.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Continuous Connectivity</a></h4>
                <p> Networking maintenance ensures continuous connectivity by proactively managing hardware, software, and configurations. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Security Fortification</a></h4>
                <p> Networking maintenance plays a crucial role in fortifying security defenses against cyber threats and vulnerabilities. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Performance Optimization</a></h4>
                <p> Networking maintenance optimizes performance parameters to accommodate evolving business requirements and technological advancements. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Scalability and Adaptability</a></h4>
                <p>Networking maintenance facilitates scalability and adaptability to accommodate growth, expansion, and changing operational needs.</p>
              </div>
            </div><!-- End Icon Box -->
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url(img/networking.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

   
  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>BSE</h3>
            <p>
              Nea Appartment,F601 Behind TUV Nord Company<br />
                  , Baner-411045,Pune Maharashtra, India.<br><br>
                 
              <strong>Phone:</strong><br>
                 +91 8369700470 <br>
                 +91 74984 24264<br>
                 
                 <br>
                 <strong>Email:</strong> <br>
                 info@substationbse.com <br>
                 boostsubserve@gmail.com<br>
            </p>
            
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <!-- End footer links column-->

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="/services">Maintaintance</a></li>
            <li><a href="/services">Testing</a></li>
            <li><a href="/services">Networking</a></li>
            <li><a href="/services">Other Services</a></li>
          </ul>
        </div>
        <!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Social Links</h4>
          <div class="social-links d-flex mt-3">
            <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/people/Boost-Subserve-Engineering-Pvt-Ltd/100093214756090/?mibextid=LQQJ4d" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/boostsubserveengineering?igsh=MWF0N2h2eXJvYnJvcA%3D%3D&utm_source=qr" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/boost-subserve-engineering-0100352b3/" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
          </div>
        </div><!-- End footer links column-->

      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span></span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="">Brand Liberty</a>
      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->

 <!-- <h1>Click the button to start a WhatsApp chat</h1> -->
 <a href="https://wa.me/918369700470?text=Hello%20there!" class="anchor-tag wtsp-btn wp-hover-effect">
  <i class="fa-brands fa-whatsapp fa-2xl  wp-hover-effect"></i>
</a>

<!-- <h1>Click the button to make a call</h1> -->
<a href="tel:918369700470" class="anchor-tag call-btn call-hover-effect">
  <i class="fa-solid fa-phone-volume  fa-2xl fa-shake  call-hover-effect"></i>
</a>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>