<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BSE - Treading</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom CSS File for Activity Component -->
    <link href="css/component/activity.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="img/logo.png" alt=""> -->
                <h1>BSE.<br><span>Engineering Services</span></h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/services">Services</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/branch">Branch</a></li>
                  <li><a href="/treading" class="active">Trading</a></li>
                  <li><a href="/contact">Contact</a></li>

            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('photo/switchyard4.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>Trading</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Trading</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->

        <!-- React Activity Component -->
            <br><br>
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="about-part-details esg-part-details text-center">
                    <h4>Our Trading</h4>
                    <!-- <div class="about-part-content">
                        <div class="breadcrumbs">
                            <div class="container">
                                <ol class="breadcrumb">
                                    <li><a href="/home" style="color:white;">home</a><span style="color:white;">//</span></li>
                                    <li><a href="/commitment-to-esg" style="color:white;">Community and activities</a></li>
                                </ol>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
      
        <!-- End React Activity Component -->

        <section class="home-about-us we-do section-header text-center " data-aos="fade-up" data-aos-delay="300">
            
            <div class="about-our-approach we-do section-header text-center section-bg-color">
                <br>
                <h2 class="about-our-approach-head heading-font-size">MCCB , PLC  Panel Supply</h2>
                <p class="about-our-approach-content"> MCCB (Molded Case Circuit Breaker) and PLC (Programmable Logic Controller) Panel Supply are integral components in industrial and commercial electrical systems.
                  MCCBs serve as crucial protective devices, guarding electrical circuits against overcurrent situations like overload or short circuits.
                   Their molded case design, typically constructed with durable insulating materials, ensures reliability and safety in diverse environments. 
                   </p>
               
            </div>
                 <br>
            <div class="about-our-approach we-do section-header text-center">
                <h2 class="about-our-approach-head heading-font-size">Relay & Control Panel Supply</h2>

                <p class="about-our-approach-content"> Relays and control panels play crucial roles in industrial automation and electrical systems.
                  Relays are electromechanical switches used to control circuits electronically. They enable the control of high-power devices with low-power signals, 
                  enhancing safety and efficiency. Control panels serve as centralized hubs for monitoring and managing various processes, housing relays, circuitry, and interface components.
                   They facilitate the integration and coordination of equipment within industrial environments. Like other electrical components, relays and control panels require reliable power supplies to function effectively.
                   </p>
                
            </div>
            <br>
            <div class="about-our-approach we-do section-header text-center  section-bg-color">
                <h2 class="about-our-approach-head heading-font-size">LED Lights & Poles Supply</h2>

                <p class="about-our-approach-content"> LED lights and poles are essential components of outdoor lighting systems. LED lights offer energy efficiency and brightness, while poles provide structural support for mounting fixtures.
                  Suppliers offer a range of LED lighting solutions and poles designed for durability and environmental conditions.
                   The supply chain encompasses manufacturing, distribution, and installation services, focusing on energy efficiency,
                    durability, and compliance with safety standards.</p>
                
            </div>
            <br>
            <div class="about-our-approach we-do section-header text-center">
                <h2 class="about-our-approach-head heading-font-size">Isolator Supply Upto 245 KV </h2>

                <p class="about-our-approach-content">Suppliers offer isolators rated up to 245 kV, critical for high-voltage electrical systems.
                  These isolators ensure safe isolation for maintenance or safety purposes. Engineered with advanced materials and rigorous testing, 
                  they meet stringent performance standards. Available in various configurations, they serve diverse industries and infrastructure projects, 
                  ensuring the reliability of electrical networks.</p>
                
            </div>
            <br>
            <div class="about-our-approach we-do section-header text-center  section-bg-color">
                <h2 class="about-our-approach-head heading-font-size">BOM Box Supply </h2>

                <p class="about-our-approach-content"> BOM Box Supply refers to the provision of containers for organizing components listed in bills of materials. 
                  These boxes are vital in manufacturing, assembly, and production processes across various industries. 
                  Suppliers offer a range of sizes and configurations to accommodate different component requirements. 
                  BOM boxes facilitate efficient organization, storage, and handling of components, enhancing productivity and workflow efficiency. 
                 </p>
                
            </div>
            <br>
            <div class="about-our-approach we-do section-header text-center">
                <h2 class="about-our-approach-head heading-font-size">Hot Deep GI Structure & Nut Bolts Supply  </h2>

                <p class="about-our-approach-content">  Hot-dipped galvanized (GI) structures and nut bolts are crucial components in construction, 
                  infrastructure, and industrial projects.  The supply chain involves sourcing, manufacturing, and distributing these specialized materials to meet diverse project requirements. 
                  Hot-dipped galvanization ensures corrosion resistance and durability, making GI structures suitable for outdoor and harsh environments.
                   Nut bolts, available in various sizes and grades, provide essential fastening solutions in construction and assembly tasks. 
                   
                  </p>
                
            </div>
            <br>
            <div class="about-our-approach we-do section-header text-center section-bg-color">
              <h2 class="about-our-approach-head heading-font-size">Diesel Generator </h2>

              <p class="about-our-approach-content"> A diesel generator is a robust electrical power generation system that relies on a diesel engine to produce electricity.
                Comprising a diesel engine coupled with an alternator, diesel generators serve as reliable backup power sources in numerous settings,
                 including residential, commercial, and industrial environments, as well as remote locations lacking access to the main power grid. 
                 These generators are characterized by their efficiency, durability, and ability to handle heavy loads for extended durations, 
                 making them indispensable during power outages or in areas with unreliable power supply.  </p>
                
            </div>
            <br>
            <div class="about-our-approach we-do section-header text-center">
              <h2 class="about-our-approach-head heading-font-size">Isolater Spares Also Supply ( Biometalic Strips, Springs, Boosh )</h2>

              <p class="about-our-approach-content"> The supply of isolator spares, including bi-metallic strips, springs, and bushings, is crucial for maintaining electrical system functionality.
                Bi-metallic strips regulate isolator operation in response to temperature and electrical changes. Springs provide tension and 
                support within isolator mechanisms, ensuring proper function. Bushings insulate and shield isolator components from electrical 
                currents and environmental factors.</p>
                
            </div>
            <div class="about-our-approach we-do section-header text-center section-bg-color">
              <h2 class="about-our-approach-head heading-font-size">Ups </h2>

              <p class="about-our-approach-content"> UPS, or Uninterruptible Power Supply, is crucial for maintaining continuous power to connected devices during outages.
                Equipped with batteries or flywheels, UPS units provide immediate backup power, ensuring data integrity and preventing equipment
                 damage. They offer voltage regulation to stabilize power output and automatic switchover during mains failures. 
                 Monitoring features allow remote tracking of UPS performance and battery health. </p>
              
          </div>
          <div class="about-our-approach we-do section-header text-center">
            <h2 class="about-our-approach-head heading-font-size"> Highmast & Lighting Poles</h2>

            <p class="about-our-approach-content"></p>
            
        </div>

        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>BSE</h3>
              <p>
                Nea Appartment,F601 Behind TUV Nord Company<br />
                , Baner-411045,Pune Maharashtra, India.<br><br>
                   
                <strong>Phone:</strong><br>
                   +91 8369700470 <br>
                   +91 74984 24264<br>
                   
                   <br>
                   <strong>Email:</strong> <br>
                   info@substationbse.com <br>
                   boostsubserve@gmail.com<br>
              </p>
              
            </div>
          </div><!-- End footer info column-->
  
          <div class="col-lg-3 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <!-- End footer links column-->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="/services">Maintaintance</a></li>
              <li><a href="/services">Testing</a></li>
              <li><a href="/services">Networking</a></li>
              <li><a href="/services">Other Services</a></li>
            </ul>
          </div>
          <!-- End footer links column-->
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Social Links</h4>
            <div class="social-links d-flex mt-3">
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/people/Boost-Subserve-Engineering-Pvt-Ltd/100093214756090/?mibextid=LQQJ4d" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/boostsubserveengineering?igsh=MWF0N2h2eXJvYnJvcA%3D%3D&utm_source=qr" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/boost-subserve-engineering-0100352b3/" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div><!-- End footer links column-->
  
        </div>
      </div>
    </div>
  
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span></span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="">Brand Liberty</a>
        </div>
      </div>
    </div>
  
  </footer>
  <!-- End Footer -->
  
  <!-- <h1>Click the button to start a WhatsApp chat</h1> -->
  <a href="https://wa.me/8369700470?text=Hello%20there!" class="anchor-tag wtsp-btn wp-hover-effect">
    <i class="fa-brands fa-whatsapp fa-2xl  wp-hover-effect"></i>
  </a>
  
  <!-- <h1>Click the button to make a call</h1> -->
  <a href="tel:8369700470" class="anchor-tag call-btn call-hover-effect">
    <i class="fa-solid fa-phone-volume  fa-2xl fa-shake  call-hover-effect"></i>
  </a>
  


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>

</body>

</html>
